version: 2
jobs:
  build-and-test:
    macos:
      xcode: "9.3.0"
    environment:
          LC_ALL: en_US.UTF-8
          LANG: en_US.UTF-8

    steps:
      - checkout
      - run: | 
          brew install swiftlint
          bundle install --without=developments
          grep -lR "shouldUseLaunchSchemeArgsEnv" *.* --null | xargs -0 sed -i '' -e 's/shouldUseLaunchSchemeArgsEnv = "YES"/shouldUseLaunchSchemeArgsEnv = "YES" codeCoverageEnabled = "YES"/g'
      - run:
          name: Bootstrap
          command: bundle exec fastlane ios bootstrap
      - run:
          name: Run test suite
          command: bundle exec fastlane ios ci
          environment:
            SCHEME: JWTDecode-iOS
            DEVICE: iPhone 8
            FASTLANE_EXPLICIT_OPEN_SIMULATOR: 2
      - run:
          name: Pod Lib Lint
          command: bundle exec fastlane ios pod_lint
      - run: |
          bash <(curl -s https://codecov.io/bash) -J 'JWTDecode' 
      - save_cache:
          key: dependency-cache
          paths:
            - Carthage/Build
      - store_test_results:
          path: fastlane/test_output

workflows:
  version: 2
  build-test-report:
    jobs:
      - build-and-test